<!-- Login 5 - Bootstrap Brain Component -->
<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
      <div class="card border-light-subtle shadow-sm">
        <div class="row g-0">
          <div class="col-12 col-md-6 text-bg-primary">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="col-10 col-xl-8 py-3">
                <hr class="border-primary-subtle mb-4">
                <h2 class="h1 mb-4">We make digital products that drive you to stand out.</h2>
                <p class="lead m-0">We write words, take photos, make videos, and interact with artificial intelligence.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card-body p-3 p-md-4 p-xl-5">
              <div class="row">
                <div class="col-12">
                  <div class="mb-5">
                    <h3>LOG IN</h3>
                  </div>
                </div>
              </div>
              <form name="loginForm" ng-submit="login()" id="loginForm" novalidate>
                <div class="row gy-3 gy-md-4 overflow-hidden">
                  <div class="col-12">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="email" id="email" ng-model="email" ng-class="{ 'error' :  is_submit  && loginForm.email.$invalid  }" placeholder="name@example.com" required>
                  </div>
                  <div class="col-12">
                    <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password"  ng-model="password"  ng-class="{ 'error' :  is_submit  && loginForm.password.$invalid  }" id="password" required>
                  </div>
                  <div class="col-12">
                    <div class="d-grid">
                      <button class="btn bsb-btn-xl btn-primary" type="submit">Log in now</button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-12">
                  <hr class="mt-5 mb-4 border-secondary-subtle">
                  <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                    <span>Don't have an account? </span>
                    <span class="text-primary">
                      <a href="#!/register" class="link-secondary text-decoration-none">Register here</a>
                    </span>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>